*{
    font-family: 'Righteous', cursive;
}
body{
    background-color: rgb(21, 25, 24);
}
/* Creazione classi personalizzate */
:root{
    --g:rgb(21, 209, 1);
    --b:rgb(21, 25, 24);
    --w:rgb(232, 232, 232);
}

.text-g{
    color: var(--g);
}

.text-b{
    color: var(--b);
}

.text-w{
    color: var(--w);
}

.bg-g{
    background-color: var(--g);
}

.bg-b{
    background-color: var(--b);
}

h1,h2,h3,.h1,.h2,.h3{
    font-family:'Play', sans-serif;
}

.bandiere
{
    height: 20px;
}

.sfondo-annunci
{
    height: 200px;
    width: 200px;
}

